#example-selector {
  text-align: center;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  font-size: 1rem;
  min-width: 40%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.example-box {
  margin-top: 30px;
}
.example-description {
  margin-bottom: 42px;
  /* font-style: italic; */
  font-size: 0.9rem;
}

.example-lyrics {
  margin-top: 24px;
}

.example-video {
  margin-top: 24px;
  margin-bottom: 24px;
}

.half-container {
  text-align: left;
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

/* MOBILE VIEW */
@media (max-width: 480px) {
  .half-container {
    width: 100%;
  }
}
